/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
html {
	color:white;
}

body {
	position: relative;
	width: 98%;
	height: 98%;
	margin: .5em auto;
	font:1.8em 'Merienda One', Helvetica, sans-serif;
	background-color: #5E3C30;
	text-align: center;
}

img {
	width: 60%;
	height: 55%;
	opacity:.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li {
	list-style: none;
	text-align: right;
	display: inline;
}

.backsplash {
	position: relative;
}

 .button {
	color: white;
	display:inline-block;
	font:.5em 'Merienda One', Helvetica, sans-serif;
	border:1px solid #5E3C30;
	padding:.5em;
	padding-left: 2em;
	padding-right: 2em;
	background-color:#5E3C30;
 }

.choices {
	color: white;
    position: absolute;
    bottom: 4em;
    margin-right: 15em;
    margin-left: 15em;
    text-align: left;
}

.complete {
	color: white;
    position: absolute;
    bottom: 13em;
    margin-right: 15em;
    margin-left: 15em;
    text-align: left;
}


.submitAnswer {
    text-align: left;
}

.question {
	display: none;
}

.answer {
	color:white;
	margin-right: 10em;
	margin-left: 10em;
	font-size: .6em;
}