/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
html {
	color:white;
}

body {
	position: relative;
	width: 98%;
	height: 98%;
	margin: .5em auto;
	/*font:1.5em 'Merienda One', Helvetica, sans-serif;*/
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	background-color: #5E3C30;
	text-align: center;
}

img {
	width: 55%;
	height: 55%;
	opacity:.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

ul li {
	list-style: none;
	text-align: right;
	display: inline;
}

.backsplash {
	position: relative;
}

.button {
	color: white;
	display:inline-block;
	font:.5em 'Merienda One', Helvetica, sans-serif;
	border:1px solid #5E3C30;
	padding:.5em;
	padding-left: 2em;
	padding-right: 2em;
	background-color:#5E3C30;
}

.choices {
	color: white;
    position: absolute;
    bottom: 7em;
    margin-right: 28em;
    margin-left: 28em;
    text-align: left;
    font-size: 1em;
}

.complete {
	color: white;
    position: absolute;
    bottom: 15em;
    margin-right: 20em;
    margin-left: 28em;
    text-align: left;
}

.submitAnswer {
    text-align: left;
}

.question {
	display: none;
}

.answer {
	color:white;
	margin-right: 20em;
	margin-left: 20em;
	font-size: 14px;
}