
.main {
	max-width: 58em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	/* background-color: grey; */
	margin-top:5em;
	position: relative;
	height: 55em;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#itemsList {
	width: 41em;
	padding: 1em;
	float: left;
	border: 1px solid black;
}

.addItemsText {
	width: 20em;
}

.addItems {
	position: relative;
	width: 41em;
	padding: 1em;
}

li {
	line-height: 1.3em;
}

img {
	width: 1.5em;
	height: 2em;
	vertical-align: middle;
}
